footer {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

}

#footerPicturesContainer {
    display: flex;    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footerLogos {
    margin: 20px;
    width: 91px;
    height: 26px;
}

#lastFooterContainer p{
    margin-left: 28.5%;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
    color: #6b6b6b;
    font-size: 12px;
}

#copyrightContainer {
    color: #6b6b6b;
    font-size: 10px;
    margin: 20px 0;
    margin-left: 37%;
}

#extranetContainer {
    font-size: 0.9em;
    color: #0071C2;
    font-weight: bold;
    margin: 30px 0;
    margin-left: 45%;
}

#footerBottomOffices {
    width: 50%;
    color: #6b6b6b;
    font-size: 12px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

#footerBottomLinks {
    display: flex;
    justify-content: space-around;
    padding: 20px 210px;
}

#footerBottomLinks ul{
    margin: 15px;
    margin-right: 30px;
    margin: 0 0 5px 0;

}

#footerBottomLinks ul a {
    color: #0071c2;
    font-size: 13px;
}

#footerBottomLinks li {
    margin: 0 0 10px 0;
}

#registerFooterLinks {
    padding: 10px 210px;
    background: #003580;
}

#registerFooterLinks a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    padding: 15px 10px;
    font-size: 13px;
}

#registerFooterContainer {
    background: #003580;
    padding: 10px 210px;
    align-content: center;

}

#registerButton{
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
}

#subscriptionFooterContainer {
    display: flex;
    flex-direction: column;
    background: #00224f;
    padding: 20px 210px;
    align-content: center;
}

#subscriptionFooterContainer h2{
    color: white;
    font-size: 20px;
    margin-left: 40%;
}

#subscriptionFooterContainer p {
    color: white;
    font-size: 16px;
    margin-left: 33%;
}

#emailFooterContainer {
    margin-left: 37%;
}

#footerCheckboxContainer {
    margin-left: 13%;
}

#footerCheckboxContainer label {
    color: white;
}